body {
    background-color: rgb(86, 149, 204);
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}

.items {
    background-color: chartreuse;
    width: 100%;

    align-items: center;
    text-align: center;
}

.items img {
    width: 100%;
}